	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <input type="hidden" id="basePath" value="http://www.sunbowei.com:3111" />
    <input type="hidden" id="staticPath" value="http://www.sunbowei.com:3111" />
    <input type="hidden" id="pageSize" value="10" />
    <input type="hidden" id="pageButton" value="10" />