<!DOCTYPE html>
<html>
<head>
    <% include common.html %>
    <title>登陆页</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css" />
    <script type="text/javascript" data-main="/javascripts/login.js" src="/javascripts/lib/require-min.js"></script>
</head>
<body>
    <div class="container">
      <form class="form-signin" id="loginFrom" action="ucenter" method="post">
        <h2 class="form-signin-heading">管理平台</h2>
        <label class="sr-only" for="loginName">用户名</label>
        <input id="loginName" name="loginName" class="form-control" type="text" autofocus="" required="" placeholder="用户名">
        <label class="sr-only" for="loginPwd">密码</label>
        <input id="loginPwd" name="loginPwd" class="form-control" type="password" required="" placeholder="密码" autocomplete="off">
        <!--
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe" />
                Remember me
            </label>
        </div>
        -->
        <button class="btn btn-lg btn-primary btn-block" id="loginSubmit" type="button" >登录</button>
      </form>
    </div>
</body>
</html>
